

<h2>
  Eclipses
</h2>
<p>
Main articles: Solar eclipse, Lunar eclipse, and Eclipse cycle
The fiercely bright disk of the Sun is completely obscured by the exact fit of the disk of the dark, non-illuminated Moon, leaving only the radial
, fuzzy, glowing coronal filaments of the Sun around the edge.
<figure class="figure rounded float-right p-3">
  <img class="img-responsive " src="assets/images/600px-solar_eclipse_1999_4_NR.jpg">
  <figcaption class="figure-caption">A solar eclipse.</figcaption>
</figure>
</p>
<p class="text-justify">
  The bright disk of the Sun, showing many coronal filaments, flares and grainy patches in the wavelength of this image, is partly obscured by a small dark disk:
   here, the Moon covers less than a fifteenth of the Sun.
  From Earth, the Moon and the Sun appear the same size, as seen in the 1999 solar eclipse (left),
  whereas from the STEREO-B spacecraft in an Earth-trailing orbit, the Moon appears much smaller than the Sun (right).[169]
  Eclipses only occur when the Sun, Earth, and Moon are all in a straight line (termed "syzygy").
  </p> <p class="text-justify">
  Solar eclipses occur at new moon, when the Moon is between the Sun and Earth.
  In contrast, lunar eclipses occur at full moon, when Earth is between the Sun and Moon.
  The apparent size of the Moon is roughly the same as that of the Sun, with both being viewed at close to one-half a degree wide.
  The Sun is much larger than the Moon but it is the vastly greater distance that gives it the same apparent size as the much closer
  and much smaller Moon from the perspective of Earth.
  </p> <p class="text-justify">The variations in apparent size, due to the non-circular orbits, are nearly
  the same as well, though occurring in different cycles. This makes possible both total (with the Moon appearing larger than the Sun)
  and annular (with the Moon appearing smaller than the Sun) solar eclipses.[170] In a total eclipse,
  the Moon completely covers the disc of the Sun and the solar corona becomes visible to the naked eye.
</p> <p class="text-justify">
  Because the distance between the Moon and Earth is very slowly increasing over time,[160] the angular diameter of the Moon is decreasing.
  Also, as it evolves toward becoming a red giant, the size of the Sun, and its apparent diameter in the sky, are slowly increasing.[l]
  The combination of these two changes means that hundreds of millions of years ago, the Moon would always completely cover the Sun on solar eclipses,
  and no annular eclipses were possible. Likewise, hundreds of millions of years in the future, the Moon will no longer cover
   the Sun completely, and total solar eclipses will not occur.[171]
</p>
