<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="moon-back jumbotron text-white mt-4">
    <p class="moon-header-text"> Welcome to {{ title }} {{ parentInfo }}! </p>
    <!-- <img width="100" alt="Angular Logo" src=""> -->
    <img class="img-responsive" src="assets/images/330px-full-moon2010.jpg">
  </div>

<div class="row mb-4">
  <div class="col-md-3">
    <button class="btn btn-outline-dark btn-block btn-lg" (click)="menuClick('home');">Home</button>
  </div>
  <div class="col-md-3">
    <button class="btn btn-outline-dark btn-block btn-lg" (click)="menuClick('about');">About</button>
  </div>
  <div class="col-md-3">
    <button class="btn btn-outline-dark btn-block btn-lg" (click)="menuClick('more');">More</button>
  </div>
  <div class="col-md-3">
    <button class="btn btn-outline-dark btn-block btn-lg" (click)="menuClick('cons');">Conspiracy</button>
  </div>
</div>


<div *ngIf="menu2show=='home'">
  <app-home></app-home>
</div>
<div *ngIf="menu2show=='about'">
  <app-about></app-about>
</div>
<div *ngIf="menu2show=='more'">
  <!-- <app-more [hasViewedAboutLink]="aboutViewed"></app-more> -->
  <app-more (notify)="eventMethod($event)"></app-more>
</div>
<div *ngIf="menu2show=='cons'">
  <app-con></app-con>
</div>

<div class="card text-white bg-dark mb-3">
  <div class="card-header">
    <small>
      Copyright 2020 &copy;
    </small>
  </div>
</div>

</div>
