<div class="row">
  <div class="col-md-9">
    <p>
      The Moon is an astronomical body orbiting Earth and is the planet's only
      natural satellite. It is the fifth-largest satellite in the Solar System,
      and by far[13] the largest among planetary satellites relative to the size
      of the planet that it orbits.[f] The Moon is, after Jupiter's satellite
      Io, the second-densest satellite in the Solar System among those whose
      densities are known.
    </p>
    <p>
      The Moon is thought to have formed about 4.51 billion years ago, not long
      after Earth. The most widely accepted explanation is that the Moon formed
      from the debris left over after a giant impact between Earth and a
      hypothetical Mars-sized body called Theia.
    </p>
    <p>
      New research of Moon rocks, although not rejecting the Theia hypothesis,
      suggests that the Moon may be older than previously thought.[14] The Moon
      is in synchronous rotation with Earth, and thus always shows the same side
      to Earth, the near side. Because of libration, slightly more than half
      (about 59%) of the total lunar surface can be viewed from Earth.[15] The
      near side is marked by dark volcanic maria that fill the spaces between
      the bright ancient crustal highlands and the prominent impact craters.
    </p>
    <p>
      After the Sun, the Moon is the second-brightest celestial object regularly
      visible in Earth's sky. Its surface is actually dark, although compared to
      the night sky it appears very bright, with a reflectance just slightly
      higher than that of worn asphalt. Its gravitational influence produces the
      ocean tides, body tides, and the slight lengthening of the day.
    </p>
  </div>
  <div class="col-md-3">
    <app-con></app-con>
  </div>
</div>
